.top-bar {
    background-color: #f6f6f6;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width:200%;
    height: 12.1rem;
    left: 0;
    padding-top: 6.05rem;
    position: absolute;
    top: 0;
}


.sec{
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 37%;
    position: relative;
    width: 30rem;
    transform: translate(-37% , 0%);
}

.top-order-group {
    height: 20.2rem;
    left: 19.5rem;
    position: absolute;
    top: 14.6rem;
    width: 89rem;
}

.top-order-back {
    background-color: #ff90e7;
    border-radius: 1.5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 17.9rem;
    left: 0;
    position: absolute;
    top: 2.3rem;
    width: 89rem;
}
.text-top-order{
    color: #000000;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 64.5rem;
    line-height: 1.2125;
    position: absolute;
    text-align: right;
    top: 3.85rem;
    white-space: nowrap;
    width: 19.5rem;
}
.jpg-top-order{
    background-color: #fa51d5;
    box-shadow:0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    height:17.2rem;
    left:7.4rem;
    position:absolute;
    top:0;
    width:10.4rem;
}  
.name-top-order{
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    height: 2.5rem;
    left: 70.2rem;
    line-height: 1.2125;
    position: absolute;
    text-align: right;
    top: 10.3rem;
    white-space: nowrap;
    width: 10.8rem;
}
.price-top-order{
    color: #454545;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 700;
    height: 4.9rem;
    left: 28.2rem;
    line-height: 1.2125;
    position: absolute;
    text-align: right;
    top: 7.95rem;
    white-space: nowrap;
    width: 14.3rem;
}

.top-otderimg {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 17.2rem;

    position: absolute;
    border-image-width: 10.4rem;
}
.body-group {
    height: 68rem;
    left: 17.5rem;
    position: absolute;
    top: 36.6rem;
    width: 93rem;
}

.list {
    box-sizing: border-box;
    height: 15.7rem;
    left: 0.1rem;
    padding: 1.7rem 0rem 5.9rem 0rem;
    position: absolute;
    top: 0;
    width: 92.9rem;
}

.text-head-list {
    color: #454545;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    margin-bottom: 0.6rem;
    white-space: nowrap;
}

.botton-list {
    align-items: center;
    box-sizing: border-box;
    column-gap: 1.3rem;
    display: flex;
    height: 5rem;
    padding-right: 49rem;
    width: 100%;
}

.botton-food {
    align-items: center;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ff90e7;
    border-radius: 2rem;
    color: #454545;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 13.4rem;
}

.botton-foodplus {
    align-items: center;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    color: #979797;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    background-color: #f6f6f6;
    height: 5rem;
    top: 0;
    border-radius: 2rem;
    flex-shrink: 0;
    position: relative;
    width: 12.1rem;
}

.botton-tool {
    align-items: center;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f6f6f6;
    border-radius: 2rem;
    color: #979797;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 15.8rem;
}

.order {
    height: 52.6rem;
    left: 0;
    position: absolute;
    top: 15.4rem;
    width: 93rem;
}

.text-head-order {
    color:#454545;
    display:flex;
    font-family:Inter, 'Source Sans Pro';
    font-size:2rem;
    font-weight:700;
    line-height:1.2125;
    margin-bottom:0.6rem;
    white-space:nowrap;
}
#products_list {
    display: flex;
    flex-wrap: wrap;
    column-gap:2rem;
    width:100%;
}

#products_list .product-item {
    align-items:center;
    background-color:#f6f6f6;
    border-radius:1rem;
    box-shadow:0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    flex-shrink:0;
    margin:0rem 0rem 0.1rem 0.1rem;
    padding:0.9rem 0.9rem 0.9rem 1.7rem;
    width:16.9rem;
}

.product-item img{
    background-color: #ff90e7;
    height: 15.1rem;
    object-fit: cover;
    width: 8.4rem;
}
.product-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.product-item-name {
    color: #686868;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2125;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 17ch;
}
.product-item-Price {
    color: #454545;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    margin: 0;
}
.col-md-9{
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}